body {
    color:black;
    background-color:white;
    background-image:url(arch\ enemy.png);
    background-size: cover;    
}
@font-face {
font-family: "chernobyl";
src: url("Chernobyl.otf");
}
html {
    font-family: "chernobyl";
    font-size: 200%;
}

h1 {
    font-size: 300%;
    }