body {
    color:white;
    background-color:black;   
}
@font-face {
font-family: "chernobyl";
src: url("Chernobyl.otf");
}
html {
    font-family: "chernobyl";
    font-size: 180%;
}
#Header {
    display: inline-block;
    width: 100%;
    margin-bottom: 3%;
}
h1 {
    font-size: 140%;
    display: inline;
}
#menu {
    display: inline-block;
    width: 85%;
}
#menu, #menu li{
    list-style:none ;
    text-align:center;
}
#menu li{
    display:inline-block;
    position:relative;
    margin-left:7%;
}
#menu a{
    text-decoration: none;
    color:white;
}
#TexteA {
    font-size: 85%;
}
#Contenu {
    margin-left: 2%;
    width:90%;
    position:relative;
}