body {
    color:white;
    background-color:rgb(36, 33, 33);   
}
@font-face {
font-family: "chernobyl";
src: url("Chernobyl.otf");
}
html {
    font-family: "chernobyl";
    font-size: 180%;
}
#Header {
    display: inline-block;
    width: 100%;
}
h1 {
    font-size: 140%;
    display: inline;
}
#menu {
    display: inline-block;
    width: 85%;
}
#menu, #menu li{
    list-style:none ;
    text-align:center;
}
#menu li{
    display:inline-block;
    position:relative;
    margin-left:7%;
}
#menu a{
    text-decoration: none;
    color:white;
}
#Texte1{
    position:relative;
    top:40px;
    font-size:90%;
    color:blue;
}
#Michael {
    margin-left: 5%;
    width:20%;
    position:relative;
    color:red;
    top:80px;
}
#Daniel {
    margin-left: 38%;
    width:20%;
    position:relative;
    color:yellow;
    top:17px;
}
#Sharlee {
    margin-left: 75%;
    width:20%;
    position:relative;
    color:green;
    top:-46px;
}
#Alissa {
    margin-left: 3%;
    width:20%;
    position:relative;
    color:pink;
    top:80px;
}
#Jeff {
    margin-left: 3%;
    width:20%;
    position:relative;
    color:purple;
    top:80px;
}